.custom-button{
	position: relative;
	font-family: "bree-serif", "Helvetica", "Arial", sans-serif;
    font-size: 0.99rem;
    font-weight: 600;
    display: inline-block;
    padding: 0px 25px;
    @include prefixer(transition, all 300ms ease, webkit moz ms);
    text-align: center;
    text-transform: capitalize;
    text-decoration: none!important;

	&.custom-button-outline{
		background: transparent;
	    color: #6e6e6e;
	}

	&.custom-button-fill{
		&.btn-green{
			background: $flat_green_color;
			color: #FFF;
			border-bottom: 5px solid darken($flat_green_color, 6%);
			border-top: 5px solid $flat_green_color;
		}

		&:hover{
			border-top-color: darken($flat_green_color, 3%);
			border-bottom-color: darken($flat_green_color, 3%);
			background: darken($flat_green_color, 3%);
		}
	}

	&.custom-button-radius{
		border-radius: 100px;
	}

}  