<div class="sidebar">
    <div class="inner">
        <div class="sidebar-heading">
            <h1 class="title"></h1>
        </div>
        <ul class="sidebar_nav">
            <li class="menu-item">
                <a class="menu_link" href="{% url 'automate:cross_browser_test' project_uuid=current_project.uuid %}">
                    <span class="menu_name_text">
                        Cross Browsers Testing
                    </span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu_link" href="">
                    <span class="menu_name_text">
                        Automate Screenshot
                    </span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu_link" href="">
                    <span class="menu_name_text">
                        Functional Testing
                    </span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu_link" href="">
                    <span class="menu_name_text">
                        Automate Browser Interact
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
