{% extends 'clarifai/layout/base.html' %}

{% block page_title %}
    Add images and concepts
{% endblock page_title %}

{% block main %}

<div class="page-wrapper">

    <div class="section">

        <div class="fullscreen-wrapper uk-flex uk-flex-middle uk-flex-center">
            <div class="form-wrapper add-image-concept uk-flex-1">

                <div class="inner">
                    <div class="heading medium uk-text-center">
                        <h1 class="heading-title uk-text-center">
                            Add Images
                        </h1>
                    </div>

                    <form class="uk-form uk-form-stacked" method="POST" action="{% url 'clarifai-api:add_images_with_concepts' %}" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="uk-form-row uk-margin">
                            <div uk-form-custom="target: true" class="uk-form-controls">
                                <input type="file" name="images" multiple class="uploadfile" required>
                                <button class="uploadfile-btn uk-button uk-button-medium uk-button-default">
                                    <i class="fa fa-upload"></i>
                                    Choose images
                                </button>
                            </div>
                        </div>

                        <div class="uk-margin img-preview-outter">
                            <div class="img-preview">
                                <div class="inner uk-flex-inline">
                                    
                                </div>
                            </div>
                        </div>

                        <div class="uk-form-row uk-margin">
                            <label class="uk-form-label" for="concept-tags">
                                Concepts (Positive)
                                <span class="label-desc">
                                    <i class="fa fa-info-circle"></i>
                                    Select concepts which is positive related to images
                                </span>
                            </label>
                            <div class="uk-form-controls">
                                <input type="text" id="concept-tags" name="concepts" required>
                            </div>

                        </div>

                        <div class="uk-form-row uk-margin">
                            <label class="uk-form-label" for="not-concept-tags">
                                Not Concepts (Negative)
                                <span class="label-desc">
                                    <i class="fa fa-info-circle"></i>
                                    Select concepts which is negative to images
                                </span>
                            </label>
                            <div class="uk-form-controls">
                                <input type="text" id="not-concept-tags" name="not_concepts" required>
                            </div>

                        </div>

                        <div class="uk-form-row uk-margin">
                            <div class="uk-form-controls uk-text-right">
                                <input class="uk-button uk-button-medium uk-button-primary" type="submit" value="Add Images">
                            </div>
                        </div>
                    </form>
                </div>

            </div>

            <!-- Create Model & Add Concepts to Model -->
            <div class="form-wrapper create-model uk-flex-1">
                
                <div class="inner">
                    <div class="heading medium uk-text-center">
                        <h1 class="heading-title uk-text-center">
                            Create &amp; Train Model 
                        </h1>
                    </div>

                    <form class="uk-form uk-form-stacked" method="POST" action="{% url 'clarifai-api:add_images_with_concepts' %}">
                        {% csrf_token %}

                        <div class="uk-form-row uk-margin">
                            <label class="uk-form-label" for="train-model">
                                Choose Models
                                <span class="label-desc">
                                    <i class="fa fa-info-circle"></i>
                                    Select a model or create new one
                                </span>
                            </label>
                            <div class="uk-form-controls">
                                <select name="model" id="train-model" required>
                                </select>
                            </div>
                        </div>

                        <div class="uk-form-row uk-margin">
                            <label class="uk-form-label" for="train-concepts">
                                Concepts
                                <span class="label-desc">
                                    <i class="fa fa-info-circle"></i>
                                    Select concepts to attach with chosen model
                                </span>
                            </label>
                            <div class="uk-form-controls">
                                <input type="text" id="train-concepts" name="model_concepts" required>
                            </div>

                        </div>

                        <div class="uk-form-row uk-margin">
                            <div class="uk-form-controls uk-text-right">

                                <a href="#" class="uk-button uk-button-medium uk-button-primary submit-train-model active" onclick="handleCreateTrainModelFormSubmit(event, 'add_concepts_train')">Train Model</a>

                                <a href="#" class="uk-button uk-button-medium uk-button-primary submit-create-model" onclick="handleCreateTrainModelFormSubmit(event, 'create_model_train')">Create & Train</a>

                            </div>
                        </div>
                    </form>
                </div>
                
            </div>

            <!-- Predict Image Form -->
            <div class="form-wrapper create-model uk-flex-1">
                
                <div class="inner">
                    <div class="heading medium uk-text-center">
                        <h1 class="heading-title uk-text-center">
                            Prediction Form
                        </h1>
                    </div>

                    <form class="uk-form uk-form-stacked" id="predict-from" method="POST" action="{% url 'clarifai-api:ajax_make_prediction' %}" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="uk-form-row uk-margin">
                            <label class="uk-form-label" for="predict-model">
                                Choose Models
                                <span class="label-desc">
                                    <i class="fa fa-info-circle"></i>
                                    Select a model to make prediction
                                </span>
                            </label>
                            <div class="uk-form-controls">
                                <select name="predict_model" id="predict-model" required>
                                </select>
                            </div>
                        </div>

                        <div class="uk-form-row uk-margin">
                            <label class="uk-form-label" for="predict-concepts">
                                Concepts <i>(Optional)</i>
                                <span class="label-desc">
                                    <i class="fa fa-info-circle"></i>
                                    Specify concepts to make prediction
                                </span>
                            </label>
                            <div class="uk-form-controls">
                                <input type="text" id="predict-concepts" name="predict_concepts">
                            </div>

                        </div>

                        <div class="uk-form-row uk-margin">
                            <label class="uk-form-label" for="min-predict-value">
                                Minimun Prediction Value <i>(Optional)</i>
                                <span class="label-desc">
                                    <i class="fa fa-info-circle"></i>
                                    set a minimum probability threshold for the outputs to view for the Predict operation
                                </span>
                            </label>
                            <div class="uk-form-controls">
                                
                                <input id="min-predict-value" name="min_predict_value" class="uk-range" type="range" value="0.5" min="0.01" max="0.99" step="0.01">
                                <span class="range-input-indicator"></span>
                            </div>

                        </div>

                        <div class="uk-form-row uk-margin">
                            <div uk-form-custom="target: true" class="uk-form-controls">
                                <input type="file" id="predict_images" name="predict_images" multiple class="uploadfile" required>
                                <button class="uk-button uk-button-medium uk-button-default">
                                    <i class="fa fa-upload"></i>
                                    Choose images
                                </button>
                            </div>
                        </div>

                        <div class="uk-margin img-preview-outter">
                            <div class="img-preview">
                                <div class="inner uk-flex-inline">
                                    
                                </div>
                            </div>
                        </div>

                        <div class="uk-form-row uk-margin">
                            <div class="uk-form-controls uk-text-right">
                                <input type="submit" class="uk-button uk-button-medium uk-button-primary submit-predict" value="Predict">
                            </div>
                        </div>

                    </form>
                </div>
                
            </div>

        </div>
    </div>

</div>

{% endblock main %}

{% block script %}
    <script>

        {% if concepts %}
            var concept_opts = [
            {% for concept in concepts %}
                {
                    value: '{{ concept.value }}',
                    text: '{{ concept.text }}'
                },
            {% endfor %}
            ];
        {% else %}
            var concept_opts = [];
        {% endif %}

        {% if models %}
            var model_opts = [
            {% for model in models %}
                {
                    value: '{{ model.value }}',
                    text: '{{ model.text }}'
                },
            {% endfor %}
            ];
        {% else %}
            var model_opts = [];
        {% endif %}

        var add_concepts_selectize,
            add_not_concepts_selectize,
            train_concept_selectize,
            train_model_selectize,
            predict_concept_selectize,
            predict_model_selectize;


        $(document).ready(function(){
            $('#min-predict-value').on('change', function(e){
                var val = $(this).val();
                $('.range-input-indicator').html(val);
            });

            add_not_concepts_selectize = $('#not-concept-tags').selectize({
                delimiter: ',',
                persist: false,
                createOnBlur: true,
                create: function(input) {
                    return {
                        value: input,
                        text: input
                    }
                },
                options: concept_opts
            });

            add_concepts_selectize = $('#concept-tags').selectize({
                delimiter: ',',
                persist: false,
                createOnBlur: true,
                create: function(input) {
                    return {
                        value: input,
                        text: input
                    }
                },
                options: concept_opts
            });

            train_concept_selectize = $('#train-concepts').selectize({
                delimiter: ',',
                persist: false,
                create: false,
                options: concept_opts
            });

            train_model_selectize = $('#train-model').selectize({
                persist: false,
                createOnBlur: true,
                create: function(input){
                    return {
                        value: input,
                        text: input
                    }
                },

                onChange: function(value){
                    // Check if value just created
                    // Toggle submit button
                    if(value && value != ''){
                        var result = searchArrayObject(value, model_opts);
                        if(result){
                            $('.submit-create-model').removeClass('active');
                            $('.submit-train-model').addClass('active');
                        }else{
                            $('.submit-train-model').removeClass('active');
                            $('.submit-create-model').addClass('active');
                        }
                    }else{
                        $('.submit-create-model').removeClass('active');
                        $('.submit-train-model').addClass('active');
                    }
                    
                },
                options: model_opts
            });

            predict_concept_selectize = $('#predict-concepts').selectize({
                delimiter: ',',
                persist: false,
                create: false,
                options: []
            });

            predict_model_selectize = $('#predict-model').selectize({
                persist: false,
                create: false,
                onChange: function(value){
                    var prediction_concept = predict_concept_selectize[0].selectize;
                    if(value && value != ''){
                        var response = getConceptsByModel(value);
                        response.then(function(data){
                            console.log(data);
                            var result = JSON.parse(JSON.stringify(data));
                            var model_concepts = [];
                            if(result.code == 10000){
                                model_concepts = result.model_concepts
                                prediction_concept.clear();
                                prediction_concept.clearOptions();
                                prediction_concept.renderCache['option'] = {};
                                prediction_concept.renderCache['item'] = {};
                                prediction_concept.load(function(callback){
                                    callback(model_concepts);
                                });

                                $(prediction_concept).focus();
                            }else{
                                swal({
                                    title: 'Failed',
                                    text: 'Oop! something went wrong while trying request to server. '+result.message,
                                    type: 'error'

                                })
                            }

                        }).catch(function(err){
                            swal({
                                title: 'Failed',
                                text: 'Oop! something went wrong while trying request to server.',
                                type: 'error'

                            });
                        });
                    }else{
                        prediction_concept.clear();
                        prediction_concept.clearOptions();
                        prediction_concept.renderCache['option'] = {};
                        prediction_concept.renderCache['item'] = {};
                    }
                },
                options: model_opts
            });


            {% if status_alert %}
                swal({
                    title: '{{ status_alert.title }}',
                    text: '{{ status_alert.message }}',
                    type: '{{ status_alert.type }}',
                    timer: 5000
                });
            {% endif %}
        });
    </script>
{% endblock script %}